In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/sample_survey_results_public.csv")
df_schema = pd.read_csv("./data/survey_results_schema.csv")

In [4]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,63311,I am a developer by profession,Yes,27.0,16,Monthly,40000.0,109956.0,Brazil,Brazilian real,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;Vue.js,Angular;ASP.NET Core,Just as welcome now as I felt last year,80.0,8,7
1,65180,I am a developer by profession,Yes,NaN,16,NaN,NaN,NaN,Dominican Republic,Dominican peso,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,6,3
2,42378,"I am not primarily a developer, but I write co...",No,NaN,12,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,35,25
3,42192,I am a developer by profession,Yes,NaN,15,NaN,NaN,NaN,Brazil,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,5,Less than 1 year
4,21072,I am a developer by profession,Yes,24.0,20,Monthly,16211.0,2712.0,India,Indian rupee,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Spring,Angular;Spring,A lot more welcome now than last year,45.0,4,Less than 1 year

In [5]:
pd.set_option("display.max_columns", 60)

In [7]:
df_schema

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [6]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,...,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,63311,I am a developer by profession,Yes,27.0,16,Monthly,40000.0,109956.0,Brazil,Brazilian real,BRL,DynamoDB;Microsoft SQL Server;MongoDB;Redis,Microsoft SQL Server,"Developer, full-stack;DevOps specialist","Associate degree (A.A., A.S., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Slightly satisfied,"Iâ€™m not actively looking, but I am open to new...",C#;JavaScript;SQL,C#;HTML/CSS;JavaScript;SQL;TypeScript,.NET Core;Node.js;Unity 3D,.NET;.NET Core;Node.js;Unity 3D,Gitlab;Slack,Confluence;Jira;Github;Gitlab;Facebook Workpla...,No,Extremely important,Not at all important/not necessary,...,Company reviews from third party sites (e.g. G...,Every few months,Not sure,No,Yes,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,Windows,20 to 99 employees,AWS;Microsoft Azure;Slack Apps and Integrations,AWS;Docker;Microsoft Azure;Slack Apps and Inte...,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per month or weekly,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;Vue.js,Angular;ASP.NET Core,Just as welcome now as I felt last year,80.0,8,7
1,65180,I am a developer by profession,Yes,NaN,16,NaN,NaN,NaN,Dominican Republic,Dominican peso,DOP,NaN,NaN,"Developer, back-end",Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,Very dissatisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,6,3
2,42378,"I am not primarily a developer, but I write co...",No,NaN,12,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,"Database administrator;Designer;Engineer, data",Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not at all important/not necessary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,35,25
3,42192,I am a developer by profession,Yes,NaN,15,NaN,NaN,NaN,Brazil,NaN,NaN,NaN,NaN,"Academic researcher;Developer, full-stack;Deve...","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed part-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,...,NaN,NaN,Not sure,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not sure/can't remember,Neutral,NaN,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,5,Less than 1 year
4,21072,I am a developer by profession,Yes,24.0,20,Monthly,16211.0,2712.0,India,Indian rupee,INR,MySQL;Oracle,MySQL;Oracle,"Developer, full-stack","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,"Industry that Iâ€™d be working in;Languages, fra...",Very dissatisfied,I am actively looking for a job,Java;TypeScript,Java;SQL,Hadoop;Node.js;Xamarin,NaN,Jira;Github;Gitlab;Microsoft Teams;Microsoft A...,NaN,No,Extremely important,Not at all important/not necessary,...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Visit developer communities like Stack Overflow,Annoyed,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow,Linux-based,10 to 19 employees,MacOS;Windows,Linux,I have some influence,NaN,Not sure/can't remember,Neutral,NaN,Multiple times per day,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Spring,Angular;Spring,A lot more welcome now than last year,45.0,4,Less than 1 year

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16115 entries, 0 to 16114
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    16115 non-null  int64
 1   MainBranch                    16029 non-null  object
 2   Hobbyist                      16107 non-null  object
 3   Age                           11358 non-null  float64
 4   Age1stCode                    14461 non-null  object
 5   CompFreq                      10009 non-null  object
 6   CompTotal                     8745 non-null   float64
 7   ConvertedComp                 8721 non-null   float64
 8   Country                       16022 non-null  object
 9   CurrencyDesc                  11356 non-null  object
 10  CurrencySymbol                11356 non-null  object
 11  DatabaseDesireNextYear        11038 non-null  object
 12  DatabaseWorkedWith            12395 non-null  object
 13  DevType                       12377 non-null  object
 14  EdLevel                       14389 non-null  object
 15  Employment                    15953 non-null  object
 16  Ethnicity                     11479 non-null  object
 17  Gender                        12591 non-null  object
 18  JobFactors                    12299 non-null  object
 19  JobSat                        11286 non-null  object
 20  JobSeek                       12903 non-null  object
 21  LanguageDesireNextYear        13463 non-null  object
 22  LanguageWorkedWith            14325 non-null  object
 23  MiscTechDesireNextYear        10586 non-null  object
 24  MiscTechWorkedWith            10078 non-null  object
 25  NEWCollabToolsDesireNextYear  11796 non-null  object
 26  NEWCollabToolsWorkedWith      13161 non-null  object
 27  NEWDevOps                     10631 non-null  object
 28  NEWDevOpsImpt                 10406 non-null  object
 29  NEWEdImpt                     12138 non-null  object
 30  NEWJobHunt                    10520 non-null  object
 31  NEWJobHuntResearch            10242 non-null  object
 32  NEWLearn                      14002 non-null  object
 33  NEWOffTopic                   12721 non-null  object
 34  NEWOnboardGood                10631 non-null  object
 35  NEWOtherComms                 14247 non-null  object
 36  NEWOvertime                   10786 non-null  object
 37  NEWPurchaseResearch           9359 non-null   object
 38  NEWPurpleLink                 13651 non-null  object
 39  NEWSOSites                    14537 non-null  object
 40  NEWStuck                      13705 non-null  object
 41  OpSys                         14019 non-null  object
 42  OrgSize                       11050 non-null  object
 43  PlatformDesireNextYear        12566 non-null  object
 44  PlatformWorkedWith            13426 non-null  object
 45  PurchaseWhat                  9828 non-null   object
 46  Sexuality                     11017 non-null  object
 47  SOAccount                     14172 non-null  object
 48  SOComm                        14086 non-null  object
 49  SOPartFreq                    11643 non-null  object
 50  SOVisitFreq                   14217 non-null  object
 51  SurveyEase                    12876 non-null  object
 52  SurveyLength                  12852 non-null  object
 53  Trans                         12296 non-null  object
 54  UndergradMajor                12765 non-null  object
 55  WebframeDesireNextYear        10029 non-null  object
 56  WebframeWorkedWith            10595 non-null  object
 57  WelcomeChange                 13179 non-null  object
 58  WorkWeekHrs                   10280 non-null  float64
 59  YearsCode                     14416 non-null  object
 60  YearsCodePro                  11575 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 7.5+ MB

In [9]:
df_schema.set_index("Column", inplace=True)

In [8]:
df_schema

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [10]:
df_schema

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [14]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [12]:
df_schema.loc["Respondent"].values

array(['Randomized respondent ID number (not in order of survey response time)'],
      dtype=object)

In [20]:
df["Gender"].value_counts()

Man                                                            11457
Woman                                                            960
Non-binary, genderqueer, or gender non-conforming                 91
Man;Non-binary, genderqueer, or gender non-conforming             34
Woman;Man                                                         22
Woman;Non-binary, genderqueer, or gender non-conforming           21
Woman;Man;Non-binary, genderqueer, or gender non-conforming        6
Name: Gender, dtype: int64

In [22]:
df.shape

(16115, 61)

In [32]:
df["WorkWeekHrs"]

0        80.0
1         NaN
2         NaN
3         NaN
4        45.0
         ...
16110    38.0
16111    45.0
16112     NaN
16113    44.0
16114     NaN
Name: WorkWeekHrs, Length: 16115, dtype: float64

In [33]:
### Hobbyest, Convertedcomp, Age, Employment, WorkWeekHrs, Country, LanguageWorkedWith

In [51]:
df["Hobbyist"]

0        Yes
1        Yes
2         No
3        Yes
4        Yes
        ...
16110    Yes
16111    Yes
16112     No
16113    Yes
16114    Yes
Name: Hobbyist, Length: 16115, dtype: object

In [60]:
df["Hobbyist"].replace({"Yes": 1, "No": 0}, inplace=True)

In [35]:
country_group = df.groupby("Country")

In [39]:
df['Hobbyist'].isna().sum()

8

In [40]:
num_respondent = df["Country"].value_counts()

In [13]:
df["Country"]

0                    Brazil
1        Dominican Republic
2             United States
3                    Brazil
4                     India
                ...
16110               Finland
16111                 India
16112                 India
16113               Germany
16114         United States
Name: Country, Length: 16115, dtype: object

In [45]:
python_dev = country_group["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").sum())
java_script_dev = country_group["LanguageWorkedWith"].apply(lambda x: x.str.contains("JavaScript").sum())
java_dev = country_group["LanguageWorkedWith"].apply(lambda x: x.str.contains("Java").sum())

In [ ]:
python_df.rename(columns={'Country':'NumRespondent', 'LanguageWorkedWith':'KnowsPython'}, inplace=True)

In [96]:
output_df = pd.concat([num_respondent, python_dev], axis='columns', sort=False)
output_df.rename(columns={'Country':'NumRespondent', 'LanguageWorkedWith':'KnowsPython'}, inplace=True)

In [97]:
output_df = pd.concat([output_df, java_script_dev], axis='columns', sort=False)
output_df.rename(columns={'Country':'NumRespondent', 'LanguageWorkedWith':'knowsJavaScript'}, inplace=True)

In [98]:
output_df = pd.concat([output_df, java_dev], axis='columns', sort=False)
output_df.rename(columns={'Country':'NumRespondent', 'LanguageWorkedWith':'KnowsJava'}, inplace=True)

In [99]:
output_df

                NumRespondent  KnowsPython  knowsJavaScript  KnowsJava
United States            3120         1505             2001       2279
India                    2112          680             1112       1420
Germany                   977          417              574        701
United Kingdom            971          394              609        677
Canada                    562          267              365        422
...                       ...          ...              ...        ...
Burkina Faso                1            1                0          0
Swaziland                   1            1                0          1
San Marino                  1            0                1          1
Haiti                       1            0                0          0
Belize                      1            1                1          1

[165 rows x 4 columns]

In [100]:
programming_as_hobby = country_group["Hobbyist"].sum()

In [101]:
num_student = country_group["Employment"].apply(lambda x: x.str.contains("Student").sum())

In [102]:
average_age = country_group["Age"].mean()

In [103]:
average_salary = country_group["ConvertedComp"].mean()

In [104]:
average_working_hours_week = country_group["WorkWeekHrs"].mean()

In [105]:
output_df = pd.concat([output_df, programming_as_hobby, num_student, average_age, average_salary, average_working_hours_week], axis='columns', sort=False)
output_df.rename(columns={'Hobbyist':'ProgrammingAsHobby', 'Employment':'NumStudent', "Age": "AverageAge", "ConvertedComp": "AverageAnnualSalary(USD)","WorkWeekHrs": "AverageWorkingWeekHours" }, inplace=True)

In [107]:
output_df.head(20)

,NumRespondent,KnowsPython,knowsJavaScript,KnowsJava,ProgrammingAsHobby,NumStudent,AverageAge,AverageAnnualSalary(USD),AverageWorkingWeekHours
United States,3120,1505,2001,2279,2455.0,266,33.841015,208302.030479,41.924109
India,2112,680,1112,1420,1681.0,339,25.874013,25904.796270,39.804195
Germany,977,417,574,701,814.0,143,31.320530,87346.336879,41.433036
United Kingdom,971,394,609,677,754.0,76,33.819389,152917.248476,39.371253
Canada,562,267,365,422,437.0,80,31.534606,102923.195195,41.289333
France,472,211,299,350,383.0,64,30.234501,73400.781250,40.810876
Brazil,466,168,305,341,326.0,31,29.341667,24359.467105,38.917160
Netherlands,353,149,229,264,294.0,43,33.194757,74512.535545,39.639004
Australia,321,142,216,238,261.0,30,33.475806,135894.596059,39.681624
Poland,300,130,167,223,258.0,31,28.958506,43013.226804,42.697248
Italy,299,102,197,225,230.0,34,31.782222,80423.404372,40.162037
Spain,293,107,162,196,220.0,28,32.078603,76419.305556,38.680488
Russian Federation,260,103,142,177,205.0,14,30.173267,44829.458065,39.933702
Sweden,223,84,140,161,176.0,28,33.740964,69341.083969,40.302885
Turkey,206,62,111,140,161.0,28,29.155556,20987.183673,47.752033
Pakistan,195,52,119,145,156.0,33,25.538835,19985.931034,41.371429
Israel,169,83,95,121,128.0,17,33.155303,100278.522727,47.074561
Nigeria,164,60,102,113,134.0,28,25.686275,10438.714286,36.258621
Switzerland,157,62,99,114,129.0,19,31.349206,127919.829787,39.851261
Romania,139,52,81,102,105.0,12,29.485981,35197.637500,39.614583

In [108]:
output_df.to_csv("project_output.csv")